body {
  width: 800px;
  margin: 0;
  border: 0;
}

.taby-root {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
}

header {
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-active);
  color: var(--text-color);
  font-size: 11px;
}

nav a {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  color: inherit;
}

.nav-active {
  background: var(--background-inverted);
  color: var(--text-color-inverted);
}
