body {
  width: 800px;
  margin: 0;
  border: 0;
}

nav {
  background: var(--background);
  display: flex;
}

header {
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  background: red;
  display: inline-block;
  padding: 8px 24px;
  color: var(--item-color);
  background: var(--item-active);
  text-decoration: none;
}
