:root {
  --background: #ffffff;
  --color: black;
}

body {
  width: 769px;
  margin: 0;
  background: var(--background);
  color: var(--color);
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}
