[class^="taby-"],
[class^="taby-"]::after,
[class^="taby-"]::after {
  all: unset;
  box-sizing: border-box;
}

.taby-menu {
  display: none; /* Do not display menu by default */
  position: fixed;
  width: 70%;
  top: 30%;
  left: 15%;
  z-index: 100000;
  border-radius: 8px;

  /* Children elements */
  background-color: #1b1212;
  font-family: sans-serif;
  color: #ffffff;
  line-height: 1.5;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.taby-display {
  /* Display menu */
  display: flex;
  flex-direction: column;
}

.taby-searchInput {
  border-width: 0 !important; /* Remove default border width */
  border-radius: unset !important; /* Remove default border radius */
  margin: 0 !important;

  width: 100% !important;
  height: 100% !important;
  padding: 16px 16px 16px 48px !important;
  font-size: 24px !important;

  /* Remove default input bar properties */
  color: inherit !important;
  background-color: inherit !important;
  font-family: inherit !important;
}

.taby-searchInput:focus {
  outline: none;
}

.taby-searchList {
  list-style-type: none; /* Remove bullets */

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;

  /* Children */
  font-size: 16px;
}

/* Remove scroll bar */
.taby-searchList::-webkit-scrollbar {
  display: none;
}

.taby-searchItem {
  white-space: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
  padding: 4px 16px 4px 16px;
}

.taby-searchTitle {
  margin-right: 20px;
}

.taby-searchIndex {
  margin-right: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.taby-searchItem:first-child {
  background: #007fff;
}
