[class^="taby-"],
[class^="taby-"]::after,
[class^="taby-"]::after {
  all: unset;
  box-sizing: border-box;
}

.taby-menu {
  display: none; /* Do not display menu by default */
  position: fixed;
  width: 60%;
  top: 25%;
  left: 20%;
  z-index: 100000;
  border-radius: 6px;
  background-color: #ffffff;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 16px 70px rgb(0 0 0 / 40%);

  /* Children elements */
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}

.taby-display {
  /* Display menu */
  display: flex;
  flex-direction: column;
}

.taby-search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px;
}

.taby-glass {
  width: 22px;
  height: 22px;
}

.taby-searchInput {
  all: unset !important;
  display: flex !important;
  width: 100% !important;

  font-size: 18px !important;

  /* Remove default input bar properties */
  color: inherit !important;
  font-family: inherit !important;
  background-color: inherit !important;
}

.taby-searchInput:focus {
  outline: none;
}

.taby-searchList {
  border-block-start: 2px solid #f3f4f6;
  list-style-type: none; /* Remove bullets */

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding: 8px;

  /* Children */
  font-size: 14px;
}

.taby-searchListEmpty {
  display: none;
}

/* Remove scroll bar */
.taby-searchList::-webkit-scrollbar {
  display: none;
}

.taby-searchItem {
  display: flex;
  gap: 16px;
  align-items: center;
  white-space: nowrap;
  overflow-x: clip;
  padding: 6px;
  user-select: none;
  border-radius: 4px;
}

.taby-searchImg {
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
}

.taby-searchKey {
  flex-shrink: 0;
  width: 18px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.taby-active {
  background: #f2f2f2;
}
