.taby-root {
  background: var(--background);
  color: var(--text-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 16px;
}

hr {
  border: none;
  border-block-start: 2px solid var(--hr-color);
}

h1 {
  font-size: 18px;
  padding-block: 12px;
  margin: 0;
}

h2 {
  font-size: 14px;
}

.settings {
  flex: 1 1 0;
  padding: 8px;
}

.appearance-buttons {
  display: flex;
  gap: 16px;
}
