[class^="taby-"],
[class^="taby-"]::after,
[class^="taby-"]::after {
  box-sizing: border-box;
}

.taby-menu {
  display: none; /* Do not display menu by default */
  position: fixed;
  width: 70%;
  max-height: 66%;
  top: 20%;
  left: 15%;
  z-index: 100000;

  /* Children elements */
  background-color: #28282b;
  font-family: sans-serif;
  color: #ffffff;
}

.taby-display {
  /* Display menu */
  display: flex;
  flex-direction: column;
}

.taby-searchInput {
  border-width: 0; /* Remove default border width */
  border-radius: unset; /* Remove default border radius */

  width: 100%;
  padding: 16px 16px 16px 32px;
  font-size: 40px;

  /* Remove default input bar properties */
  color: inherit;
  background-color: inherit;
  font-family: inherit;
}

.taby-searchInput:focus {
  outline: none;
}

.taby-searchList {
  list-style-type: none; /* Remove bullets */

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;

  /* Children */
  font-size: 30px;
}

/* Remove scroll bar */
.taby-searchList::-webkit-scrollbar {
  display: none;
}

.taby-searchItem {
  white-space: nowrap;
  overflow-x: clip;
  text-overflow: ellipsis;
  padding: 8px 16px 8px 32px;
}

.taby-searchItem:first-child {
  background: #0860f2;
}
