div.taby-menu {
  display: none;
  position: fixed;
  width: 70%;
  height: 65%;
  top: 20%;
  left: 15%;
  z-index: 100000;

  background-color: #28282b;
  font-family: sans-serif;
  color: #ffffff;
}

div.taby-display {
  display: block;
}

.taby-search {
}

.taby-searchInput {
  box-sizing: border-box;
  border-radius: unset;
  width: 100%;
  padding: 16px 16px 16px 48px;

  font-size: 40px;
  border-width: 0 0 2px 0;

  color: inherit;
  background-color: inherit;
  font-family: inherit;
}

.taby-searchInput:focus {
  outline: none;
}

.taby-searchButton {
}
